h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Righteous', cursive;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0;
}

.xb-btn-orange {
    background-color: #ff7d15;
    width: 200px;
    border-radius: 0;
    padding: 20px 0;
    font-weight: 500;
    color: white;
}

.xb-btn-orange:hover {
    background-color: white;
    color: #ff7d15;
}

/* Top Bar CSS Starting */
.top-bar {
    background: #ff7d15;

}

.top-bar p,
.top-bar p a {
    font-family: 'Righteous', cursive;
    display: inline-block;
    color: white;
}

.top-bar p span {
    color: #313aaf;
    margin: 0 5px;
}

.cta-btn {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 15px 40px 15px 0;
    background: #313aaf;
    color: white;
    -webkit-box-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 240px;
    text-align: right;
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.cta-btn .fa-arrow-right {
    margin-left: 10px;
    transition: all .4s;
}

.cta-btn:hover .fa-arrow-right {
    transform: translate(5px, 0px);
}

/* Top Bar CSS Ending */

/* Navbar CSS Starting */
.navbar {
    padding: 15px 0;


}

.nav-item {
    margin-left: 30px;

}

.nav-item.active .nav-link {
    color: #ff7d15;
}

.nav-item.active .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ff7d15;
    bottom: 0;
    left: 0;
    opacity: 1;
}


.nav-link {
    font-family: 'Righteous', cursive;
    font-size: 15px;
    color: #373737;
    position: relative;
}

.nav-link:hover {
    color: #ff7d15;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #ff7d15;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all .4s;
}

.nav-item:hover:not(.cart-icon) .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ff7d15;
    bottom: 0;
    left: 0;
    opacity: 1;
}


.cart-icon {
    position: relative;
}

.cart-icon .fa-shopping-cart {
    font-size: 16px;
}

.cart-icon span {
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ff7d15;
    text-align: center;
    position: absolute;
    bottom: 4px;
    right: -3px;
    font-size: 12px;
}

.cart-icon:hover .nav-link {
    color: #373737 !important;
}

/* Navbar CSS Ending */


/* Banner CSS Starting */
#banner {
    height: 80vh;
    background-image: url('../image/banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

#banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(49, 58, 175, 0.85);

}

.banner-contents h1 {
    font-size: 55px;
    color: white;
}

.banner-contents h1 span {
    color: #ff7d15;
    margin: 30px 0px;
    line-height: 1.1;
}

.banner-contents p {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.banner-contents button {}

.banner-shapes {
    position: relative;
    top: -55px;
    left: 40px;
}

.banner-shapes img {
    position: absolute;

}

.banner-shapes img:nth-child(1) {
    z-index: 4;
    left: -25px;
}

.banner-shapes img:nth-child(2) {
    top: -10px;
    height: 495px;
    left: -15px;
    animation: rotate 10s infinite ease-in;
}

.banner-shapes img:nth-child(3) {
    top: -20px;
    height: 490px;
    animation: rotate-rev 10s ease-in;
}

.banner-shapes img:nth-child(4) {
    top: -15px;
    height: 490px;
    animation: rotate 10s infinite ease-in;
}



.img-fluid {
    max-width: 100%;
    height: 450px;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-rev {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* Banner CSS Ending */


.change-icon>.fa+.fa,
.change-icon:hover>.fa {
    display: none;
}

.change-icon:hover>.fa+.fa {
    display: inherit;
    color: rebeccapurple;
}


/* Quality Area CSS Starting */
#quality {
    padding: 80px 20px;
}

.xb-item {
    padding: 30px;
    text-align: center;

}

.xb-item .xb-icon{
    width: 100px;
    height: 100px;
    background: #fceee3;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    transition: all .4s;
}

.xb-icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.xb-icon img:nth-child(2){
    display: none;
}

.xb-item:hover .xb-icon{
    background: #313aaf;
    transform: translate(0px, -20px);
}
.xb-item:hover .xb-icon img:nth-child(1){
    display: none;
}
.xb-item:hover .xb-icon img:nth-child(2){
    display: inherit;
}

.xb-item h5{
    margin:25px;
}

/* Quality Area CSS Endting */

/* Statistic Area CSS Starting */
#statistic{
    position: relative;
}

.stat-img{
    background: url("../image/stats.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 520px;
    background-position: -160px;
    margin-left: 120px;
}

.play-btn{
    position: absolute;
    background: #313aaf;
    width: 270px;
    height: 270px;
    top: 22%;
}
.play-btn .fa-play{
    color: #313aaf;
    background: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 28px 30px 0 33px;
    font-size: 35px;
}

.counter{
    background: #ff7d15;
    width: 725px;
    position: absolute;
    right: 0;
    bottom: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 60px 100px;
    color: white;
}

.count-item{

}

.count-item h1{

}
.count-item h6{

}
/* Statistic Area CSS Endting */